# Python
__pycache__/
*.py[cod]
*.so
env/
build/
dist/
eggs/
*.egg-info/
venv/
.env

# AWS
.aws-sam/
samconfig.toml

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db

# Sensitive Data
secrets.json

# Poetry
poetry.lock
.poetry/
.venv/

# Build artifacts
deployment.zip
